@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}

.title {
  font-size: 3rem;
  text-align: center;
  background-color: #c4c4c4;
  padding: 4px 0;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 76px;
}

.points {
  font-size: 3.75rem;
}

.score-board p {
  font-size: 1.25rem;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  margin-top: 50px;
}

.user-choice:hover {
  cursor: pointer;
}

.title-select {
  text-align: center;
  height: 120px;
}

.title-user {
  font-size: 35px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.vertical-line {
  width: 1px;
  background-color: #000;
  margin-top: 16px;
  height: 80vh;
}

.pick {
  align-self: center;
  text-align: center;
}

.hiden {
  display: none;
}

.selected {
  width: 80px;
}

.pick div p {
  margin-top: 30px;
  font-size: 24px;
}

.show {
  display: block;
}

.center-result {
  align-self: center;
  font-size: 30px;
}

.non-clickable {
  pointer-events: none;
}
